* {
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
nav {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./img/background Image.jpg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover; /* Optional: ensures the image covers the whole area */
}

nav > div {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  border: 0px solid yellow;
  flex-wrap: wrap;
}
div > img {
  width: 200px;
  /* height: 80px; */
}
#selectBox {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  /* gap: 5px; */
}
nav > div > div {
  border: 0px solid red;
  display: flex;
  align-items: center;
  width: 300px;
  gap: 20px;
}
#selectBox > select {
  background: none;
  border: none;
  color: white;
  padding: 2px;
  width: 85px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
#selectBox > select:focus {
  outline: none;
}
#selectBox > option {
  background-color: blue;
  color: black;
}
#selectBox > option:hover {
  color: white;
}
nav > div > div > button {
  /* padding: 5px; */
  width: 80px;
  background-color: rgb(229, 9, 20);
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  cursor: pointer;
}
nav > div > div > button:hover {
  background-color: rgb(206, 41, 12);
}
#middleBox {
  border: 0px solid red;
  margin-top: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#middleBox > h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}
#middleBox h3,
h4 {
  color: white;
  text-align: center;
}
#middleBox h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
#middleBox h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
#middleBox > div {
  display: flex;
  border: 0px solid yellow;
  margin-left: 250px;
  width: 70%;
}
#middleBox > div > input {
  width: 300px;
  padding: 5px;
  /* background: none; */
  border: 1px solid grey;
  background: rgba(22, 22, 22, 0.7);
  border-color: rgba(128, 128, 128, 0.7);
  border-radius: 5px;
  min-height: 2.5rem;
  color: white;
}
#middleBox > div > input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
#middleBox > div > button {
  width: 180px;
  font-size: 1.4rem;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 2px;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
}
#middleBox > div > button:hover {
  background-color: rgb(182, 28, 1);
}

/* media Screen For Mobile Screen */
@media only screen and (max-width: 600px) {
  nav {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("./img/background Image.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.4rem;
  }
  nav > div {
    display: flex;
    justify-content: space-between;
    border: 0px solid yellow;
    align-items: center;
    padding: 10px 0;
  }
  div > img {
    width: 100px;
    margin-left: 20px;
  }
  nav > div > div {
    border: 0px solid red;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    width: 150px;
  }

  #selectBox > select {
    width: 20px;
    height: 8px;
    font-size: 10px;
  }
  #selectBox {
    padding: 2px;
    width: 50px;
  }
  nav > div > div > button {
    width: 60px;
    height: 25px;
    font-size: 12px;
    padding: 2px;
  }
  #selectBox > svg {
    width: 12px;
  }
  #middleBox {
    border: 0px solid red;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 32.2rem;
    color: white;
  }
  #middleBox > h1 {
    color: white;
    font-size: 25px;
    border: 0px solid red;
    width: 25.2rem;
    font-weight: 800;
  }
}
